* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pimg {
    background-image: url("../images/background.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

header {
    background-size: 50%;
    background-position: center;
}

header a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 1px 1px 5px #111;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px 15px;
}

header nav ul li {
    letter-spacing: 5px;
}

.ptext {
    position: relative;
    margin: 450px 0 450px 0;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 70%;
}

.ptext .border {
    background-color: white;
    color: #111;
    padding: 20px;
}

.about-me {
    background-color: rgb(0, 0, 0);
    color: azure;
    padding: 25px 20px;
    margin: 10px;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.671);
}

.about-me h2 {
    font-size: 40px;
    text-shadow: 1px 1px 5px rgb(255, 255, 255, .7);
    margin-bottom: 10px;
}

.about-me p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container {
    background-color: azure;
    margin: 40px 10px;
    border: 3px solid rgba(0, 0, 0, 0.671);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.flex-container h2 {
    text-align: center;
}

.one {
    background-image: url(../images/placeholder.png);
    width: 1000px;
    height: 800px;
    background-size: cover;
    border: 5px solid black;
}

.name {
    background-color: grey;
    background-size: 10px1;
}

.two {
    background-image: url(../images/placeholder.png);
    width: 500px;
    height: 400px;
    background-size: cover;
    border: 5px solid black;
    margin: 10px 0;
}

.three {
    background-image: url(../images/placeholder.png);
    width: 500px;
    height: 400px;
    background-size: cover;
    border: 5px solid black;
    margin: 10px 0;
}

.contact {
    background-color: azure;
    margin: 40px 10px;
    border: 3px solid rgba(0, 0, 0, 0.671);
}

.contact h2 {
    text-align: center;
}

.contact ul {
    list-style-type: none;
}