* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.pimg {
    background-image: url("../images/background.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

header {
    background-size: 50%;
    background-position: center;
}

header a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 1px 1px 5px #111;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px 15px;
}

header nav ul li {
    letter-spacing: 5px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.ptext {
    position: relative;
    margin: 450px 0 450px 0;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 70%;
}

.ptext .border {
    background-color: white;
    color: #111;
    padding: 20px;
}

.about-me {
    background-color: rgb(0, 0, 0);
    color: azure;
    padding: 25px 20px;
    margin: 50px;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.671);
    border-radius: 15px;
}

.about-me h2 {
    font-size: 40px;
    border-bottom: 3px solid;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 30%;
    text-shadow: 1px 1px 5px rgb(255, 255, 255, .7);
}

.about-me p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px;
}

.flex-container {
    background-color: azure;
    margin: 40px 50px;
    border: 3px solid rgba(0, 0, 0, 0.671);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 100px 20px;
    border-radius: 15px;
}

.flex-container h2 {
    font-size: 40px;
    border-bottom: 3px solid;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 30%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}

.names a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    background-color:rgba(0, 0, 0, 0.65);
    padding: 20px;
    border-radius: 0 0 15px 0;
    display: inline;
    float: left;
}

.names a:hover {
    font-size: 18px;
    text-decoration: overline;
}

.best {
    background-image: url(../images/Screenshot\ \(15\).png);
    background-size: cover;
    width: 1020px;
    height: 600px;
    border: 5px solid rgba(0, 0, 0, 0.65);
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.one,
.two {
    background-image: url(../images/placeholder.png);
    width: 500px;
    height: 400px;
    background-size: cover;
    border: 5px solid rgba(0, 0, 0, 0.65);
}

.one {
    margin: 25px 12px 0 25px;
}

.two {
    margin: 25px 25px 0 12px;
}

.contact {
    background-color: azure;
    margin: 40px 50px;
    border: 3px solid rgba(0, 0, 0, 0.671);
    border-radius: 15px;
    padding: 25px 20px;

}

.contact h2 {
    font-size: 40px;
    border-bottom: 3px solid;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 30%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 10px;
}

.contacts a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.65);
    padding: 2px 10px;
}

.contacts a:hover {
    background-color: rgba(0, 0, 0, 0.65);
    border-bottom: none;
    border-radius: 15px;
}

.contacts a,
.contacts p {
    font-size: 25px;
    font-weight: bolder;
}
